.icon{
    width: 35px;
    border-radius: 100%;
}
table{
    margin-top: 35px;
    background-color: lightblue;
    border: 2px solid black;
}
.btn-sm{
    width: 110px;
}
.enElOnce{
    background-color: rgb(255, 217, 0);
}