.container{
    background-image: url(../../assets/img/cancha-futbol.jpg);
    min-height: 500px;
    max-width: 281px;
    margin-top: 35px;
    border: 2px solid green;
    border-radius: 4%;
}
.icon{
    width: 27px;
    border-radius: 100%;
}